services:
  weaviate:
    image: semitechnologies/weaviate:1.27.0
    ports:
      - 8080:8080
      - 50051:50051
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      DEFAULT_VECTORIZER_MODULE: 'none'
      ENABLE_MODULES: ''
      CLUSTER_HOSTNAME: 'node1'
    volumes:
      - weaviate_data:/var/lib/weaviate

  ollama:
    image: ollama/ollama:latest
    ports:
      - 11434:11434
    volumes:
      - ollama_data:/root/.ollama

  app:
    build: .
    ports:
      - 8000:8000
    depends_on:
      - weaviate
      - ollama
    environment:
      - WEAVIATE_URL=http://weaviate:8080
      - WEAVIATE_HOST=weaviate
      - OLLAMA_BASE_URL=http://ollama:11434

volumes:
  weaviate_data:
  ollama_data:
